@font-face {
    font-family: "YEXNYXHMM";
    src: url("../font/FZSJ-YEXNYXHMM.TTF");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../font/webfonts/JetBrainsMono-Medium.woff2");
}