@charset "UTF-8";
a {
    color: yellow;
}

body {
    font-size: 14px;
    background-color: #24334a;
    color: #a8afbe;
}

code { /* 代码 */
    line-height: 20px;
    color: #dedede;
}

div.boxText1 {
    margin: 20%;
    border: 1px #000 solid;
}

div.boxText2 {
    margin: 20% 50%;
    border: 50px solid transparent;
    border-top: 50px #000 solid;
}

div.Index {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    width: 200px;
    height: auto;
}

em { /* 注释 */
    font-size: 13px;
    color: #65b77c;
}

li.index {
    margin: 10px auto;
}

ol.index {
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    height: auto;
}

pre {
    font-size: 18px;
}


span {
    margin: 0;
    padding: 0;
}
