.container {
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
}

.cube {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    background: transparent;
    overflow: hidden;
}

.particle {
    position: absolute;
    width: 50px;
    height: 20px;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, #00b8ff, transparent);
    transform-origin: 50px 50px;
    animation: move linear 2s infinite;
    animation-delay: calc(var(--i) * -0.5s);
}

@keyframes move {
    0% {
        transform: rotate(calc(var(--i) * -90deg)) translateX(-30px);
        opacity: 100%;
    }
    25% {
        transform: rotate(calc(var(--i) * -90deg)) translateX(55px);
        opacity: 100%;
    }
    26% {
        opacity: 0;
    }
    100% {
        transform: rotate(calc(var(--i) * -90deg)) translateX(80px);
        opacity: 0;
    }
}