.container {
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    transform: rotate(270deg);
}

.sub {
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #e7d284;
    margin: 10px auto;
    animation: move 1.5s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes move {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(30px);
    }

    50% {
        transform: translateX(0);
    }
}