#div {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
}

#button {
    border-radius: 10px;
    cursor: pointer;
    background: #24334a;
}

#a {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    color: #d1d1d7;
    background: linear-gradient(-45deg, #34c2e3, #C71585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#a::before,
#a::after {
    content: "";
    position: absolute;
    background: linear-gradient(var(--rotate), #ff00c1 0%, #9600ff 25%, #4900ff 50%, #00b8ff 80% #00fff9 100%);
    width: 105%;
    height: 110%;
    left: -2.5%;
    top: -5%;
    border-radius: 10px;
    z-index: -1;
    transition: --rotate 999s linear;
}

#button:hover::before,
#button:hover::after {
    --rotate: 3600deg;
    transition: --rotate 20s linear;
}

#button:hover::before {
    animation: fade 1.2s;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 130deg;
    inherit: false;
}

@keyframes fade {
    0% {
        opacity: 1;
        transform: scale(1);
        filter: blur(10px);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
        filter: blur(10px);
    }
}